# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cityData = pd.read_csv('output_data\cities.csv')
cityData_pd = pd.DataFrame(cityData)

#clear old (identical) index
cityData_pd = cityData_pd.drop(columns='Unnamed: 0')

cityData_pd.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,cape town,ZA,-33.9258,18.4232,57.99,94,0,3.44,1619211557
1,coruripe,BR,-10.1256,-36.1756,78.80,79,54,8.43,1619211557
2,adrar,MR,20.5022,-10.0711,83.97,8,0,7.74,1619211558
3,great yarmouth,GB,52.6083,1.7305,45.00,61,69,3.44,1619211558
4,hobart,AU,-42.8794,147.3294,51.80,71,40,10.36,1619211559

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

In [11]:
locations = cityData_pd[["Lat", "Lng"]].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=cityData_pd['Humidity'], 
                                 dissipating=True, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#my ideal weather conditions are:
#  - 68F <= Max Temp <= 82F
#  - Cloudiness <= 55%
#  - Humidity <= 45%   

hotel_df = cityData_pd.loc[(cityData_pd['Max Temp'] >= 68) & (cityData_pd['Max Temp'] <= 82) & 
                                       (cityData_pd['Cloudiness'] <= 55) & (cityData_pd['Humidity'] <= 45), :]
hotel_df.head(20)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
77,baghdad,IQ,33.3406,44.4009,78.80,27,0,6.91,1619211597
113,laguna,US,38.4210,-121.4238,75.99,45,1,11.50,1619211626
164,roebourne,AU,-20.7833,117.1333,75.33,26,0,11.50,1619211660
239,port hedland,AU,-20.3167,118.5667,69.80,37,0,8.05,1619211704
268,beni suef,EG,29.0731,31.0979,69.01,40,0,14.97,1619211719
298,santo angelo,BR,-28.2992,-54.2631,80.60,44,0,5.75,1619211735
318,nioro,GM,13.3500,-15.7500,81.14,41,3,12.77,1619211745
379,mount pleasant,US,32.7941,-79.8626,69.01,34,1,10.36,1619211778
392,general roca,AR,-39.0333,-67.5833,69.80,40,0,6.91,1619211785
416,saint george,US,37.1041,-113.5841,80.01,10,1,17.27,1619211558
453,lubbock,US,33.6001,-101.8338,80.60,12,40,9.22,1619211603
507,awjilah,LY,29.1081,21.2869,79.57,14,2,12.53,1619211791
508,sakakah,SA,29.9697,40.2064,78.80,11,0,9.22,1619211610
518,bethanien,NaN,-26.5020,17.1583,75.79,22,52,4.99,1619211853
522,parral,MX,26.9333,-105.6667,79.21,5,5,27.96,1619211604
523,ceres,US,37.5949,-120.9577,72.00,37,1,4.79,1619211855
540,lins,BR,-21.6786,-49.7425,72.91,37,2,4.34,1619211865
541,mandal,IN,25.4500,74.5667,78.75,37,55,10.56,1619211865

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = hotel_df.reindex(columns = hotel_df.columns.tolist() 
                                  + ['Hotel Name'])
hotel_df.head(20)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
77,baghdad,IQ,33.3406,44.4009,78.80,27,0,6.91,1619211597,NaN
113,laguna,US,38.4210,-121.4238,75.99,45,1,11.50,1619211626,NaN
164,roebourne,AU,-20.7833,117.1333,75.33,26,0,11.50,1619211660,NaN
239,port hedland,AU,-20.3167,118.5667,69.80,37,0,8.05,1619211704,NaN
268,beni suef,EG,29.0731,31.0979,69.01,40,0,14.97,1619211719,NaN
298,santo angelo,BR,-28.2992,-54.2631,80.60,44,0,5.75,1619211735,NaN
318,nioro,GM,13.3500,-15.7500,81.14,41,3,12.77,1619211745,NaN
379,mount pleasant,US,32.7941,-79.8626,69.01,34,1,10.36,1619211778,NaN
392,general roca,AR,-39.0333,-67.5833,69.80,40,0,6.91,1619211785,NaN
416,saint george,US,37.1041,-113.5841,80.01,10,1,17.27,1619211558,NaN
453,lubbock,US,33.6001,-101.8338,80.60,12,40,9.22,1619211603,NaN
507,awjilah,LY,29.1081,21.2869,79.57,14,2,12.53,1619211791,NaN
508,sakakah,SA,29.9697,40.2064,78.80,11,0,9.22,1619211610,NaN
518,bethanien,NaN,-26.5020,17.1583,75.79,22,52,4.99,1619211853,NaN
522,parral,MX,26.9333,-105.6667,79.21,5,5,27.96,1619211604,NaN
523,ceres,US,37.5949,-120.9577,72.00,37,1,4.79,1619211855,NaN
540,lins,BR,-21.6786,-49.7425,72.91,37,2,4.34,1619211865,NaN
541,mandal,IN,25.4500,74.5667,78.75,37,55,10.56,1619211865,NaN

In [24]:
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#try:
for index, row in hotel_df.iterrows():
    
    location = 
    params = {
            "location": location,
            "radius": 5000,
            "type": "hotel",
            "key": g_key,
        }
    
    response = requests.get(base_url, params=params).json()
    results = response['results']
    print(json.dumps(response, indent=4))
#except:
#    print('Oops! Something went wrong')

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [19]:
#NOTE: Do not change any of the code in this cell

#using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

#store the DataFrame Row
#NOTE: be sure to update with your DataFrame name

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map
marker_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(22, 226, 109, 0.67)',
    stroke_color='rgba(22, 226, 109, 0.9)', scale=2,
    info_box_content=[hotel_info]
)

fig.add_layer(marker_layer)


# Display figure
fig